<!doctype html>
<html lang="en">

<head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css"
        integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
    <link rel="stylesheet" href="/css/style.css">
    <script src="https://kit.fontawesome.com/13ecf0dbf7.js" crossorigin="anonymous"></script>
    <title>Home</title>
</head>

<body>
    <nav class="navbar navbar-expand-lg navbar-dark bg-dark">
        <a class="navbar-brand" href="/">MyTask</a>
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
          <span class="navbar-toggler-icon"></span>
        </button>
      
        <div class="collapse navbar-collapse" id="navbarSupportedContent">
          <%if(login){%>
            <ul class="navbar-nav ml-auto">
              <li class="nav-item active">
                  <a class="nav-link btn-dark btn-outline" href="/">Home <span class="sr-only">(current)</span></a>
                </li>
              <li class="nav-item active">
                <div class="dropdown">
                  <button class="btn btn-dark btn-outline dropdown-toggle" type="button" id="dropdownMenu2" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                    <%=user.name%>
                  </button>
                  <div class="dropdown-menu" aria-labelledby="dropdownMenu2">
                    <a class="nav-link active dropdown-item btn btn-dark btn-outline" href="/logout" style="font-size:14px">Logout <span class="sr-only">(current)</span></a>
                  </div>
                </div>
              </li>
            </ul>
          <%}else{%>
            <ul class="navbar-nav ml-auto">
              <li class="nav-item active">
                  <a class="nav-link btn-dark btn-outline" href="/">Home <span class="sr-only">(current)</span></a>
                </li>
              <li class="nav-item active">
                <a class="nav-link btn-dark btn-outline" href="/login">Login <span class="sr-only">(current)</span></a>
              </li>
              <li class="nav-item active">
                <a class="nav-link btn-dark btn-outline" href="register">Register <span class="sr-only">(current)</span></a>
              </li>
            </ul>
          <% } %> 
        </div>
      </nav>
      <div class="jumbotron text-center">
        <h1 class="display-4">Welcome To MyTask</h1>
        <p class="lead">This is the simplest and most useful ToDo task manager to keep updated with your tasks.</p>
        <hr class="my-4">
        <p>Start Adding</p>
        <a class="btn btn-dark btn-outline btn-lg" href="/dashboard" role="button">Go Add</a>
      </div>
</body>
<!-- Option 1: jQuery and Bootstrap Bundle (includes Popper) -->
<script src="https://code.jquery.com/jquery-3.5.1.slim.min.js"
    integrity="sha384-DfXdz2htPH0lsSSs5nCTpuj/zy4C+OGpamoFVy38MVBnE+IbbVYUew+OrCXaRkfj"
    crossorigin="anonymous"></script>
<script src="https://cdn.jsdelivr.net/npm/bootstrap@4.6.0/dist/js/bootstrap.bundle.min.js"
    integrity="sha384-Piv4xVNRyMGpqkS2by6br4gNJ7DXjqk09RmUpJ8jgGtD7zP9yug3goQfGII0yAns"
    crossorigin="anonymous"></script>

</html>